<div id="app">
    <app-sidebar></app-sidebar>
    <div id="main">
        <div class="page-heading">
            <app-nav></app-nav>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <ng-container [ngSwitch]="currentComponent">
                            <app-chart  *ngSwitchCase="'dash'"></app-chart>
                            <app-list-portfolio *ngSwitchCase="'portfolio'"></app-list-portfolio>
                            <app-list-orders *ngSwitchCase="'orders'"></app-list-orders>
                            <app-list-transaction *ngSwitchCase="'transactions'"></app-list-transaction>
                        </ng-container>
                    </div>
                </div>
            </section>
        </div>

       <app-footer></app-footer>
    </div>
</div>