<div id="app">
    <app-sidebar></app-sidebar>
    <div id="main">
        <div class="page-heading">
            <app-nav></app-nav>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">                      
                        <app-body  *ngIf="currentComponent === 'dash'"></app-body>
                        <app-list-users  *ngIf="currentComponent === 'list-user'"></app-list-users>                      
                        <app-user-details *ngIf="currentComponent === 'user-details'"></app-user-details>
                        <app-list-users  *ngIf="currentComponent === 'list-user'"></app-list-users>
                        <app-list-portfolio *ngIf="currentComponent === 'portfolio'"></app-list-portfolio>
                        <app-list-orders *ngIf="currentComponent === 'orders'"></app-list-orders>
                        <app-user-profile *ngIf="currentComponent === 'profile'"></app-user-profile>
                        <app-user-details *ngIf="currentComponent === 'user-details'"></app-user-details>               
                        <app-chart  *ngSwitchCase="'dash'"></app-chart>
                        <app-list-portfolio *ngSwitchCase="'portfolio'"></app-list-portfolio>
                        <app-list-orders *ngSwitchCase="'orders'"></app-list-orders>
                        <app-list-transaction *ngSwitchCase="'transactions'"></app-list-transaction>
                    </div>
                </div>
            </section>
        </div>
       <app-footer></app-footer>
    </div>
</div>