<app-header></app-header>
<div class="container container-box mt-4">
    <div class="row g-4">
        <div *ngFor="let challenge of challenges" class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
            <div class="service-item card border-0 shadow-sm p-4">
                <div class="info-container">                    
                    <div class="challenge-details mt-4">
                        <div class="box">
                            <div class="row mb-3">
                                <div class="col-md-12 text-center">
                                    <label for="accountSize" class="d-block mb-2">Account Size:</label>
                                    <select id="accountSize" class="form-select form-select-lg mb-3" [(ngModel)]="accountSize" (ngModelChange)="calculateRefundableFees()">
                                        <option value="15000">$15,000</option>
                                        <option value="25000">$25,000</option>
                                        <option value="50000">$50,000</option>
                                        <option value="100000" selected>$100,000</option>
                                        <option value="200000">$200,000</option>
                                    </select>
                                </div>
                            </div>
                        </div>           
                        <div class="row mb-3 text-center">
                            <div class="col-md-12">
                                <label class="d-block mb-2"><strong>Challenge Fees:</strong></label>
                                <span class="fs-4 text-dark">${{ refundableFees | number }}</span>
                                <small class="text-muted d-block">Refundable</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="category-box" [ngClass]="challenge.category">
                                <strong>{{ challenge.category }}</strong>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Start Date:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.startDate ? (challenge.startDate | date: 'dd/MM/yyyy') : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>End Date:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.endDate ? (challenge.endDate | date: 'dd/MM/yyyy') : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Leverage:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.leverage ? challenge.leverage : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Payout Express:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.payoutExpress ? challenge.payoutExpress : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Profit Booster:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.profitBooster ? challenge.profitBooster : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Profit Target:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.profitTarget ? challenge.profitTarget : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Max Loss:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.maxLoss ? challenge.maxLoss : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Max Daily Loss:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.maxDailyLoss ? challenge.maxDailyLoss : '-' }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Minimum Trading Days:</strong></div>
                            <div class="col-md-6 text-end">{{ challenge.minimumTradingDays ? challenge.minimumTradingDays : '-' }}</div>
                        </div>
                        
                    
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>EA Enabled:</strong></div>
                            <div class="col-md-6 text-end" [ngClass]="getStatusClass(challenge.eaEnabled)">
                                {{ getStatusIcon(challenge.eaEnabled) }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>Weekend Trading:</strong></div>
                            <div class="col-md-6 text-end" [ngClass]="getStatusClass(challenge.weekendTrading)">
                                {{ getStatusIcon(challenge.weekendTrading) }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6"><strong>News Trading:</strong></div>
                            <div class="col-md-6 text-end" [ngClass]="getStatusClass(challenge.tradeTheNews)">
                                {{ getStatusIcon(challenge.tradeTheNews) }}
                            </div>
                        </div>
                        
                        <div class="button-container" style="text-align: center;">
                            <button class="btn btn-light-gray"
                                    (click)="participate(challenge.id, challenge.category)">
                                Get Funded Now
                            </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-front></app-footer-front>
    

<!-- Form to create a new challenge 
  <div>
    <h2>Create a New Challenge</h2>
    <form (ngSubmit)="createChallenge()">
      <label for="name">Challenge Name</label>
      <input id="name" [(ngModel)]="newChallenge.name" name="name" required>
  
      <label for="startDate">Start Date</label>
      <input id="startDate" [(ngModel)]="newChallenge.startDate" name="startDate" type="date" required>
  
      <label for="endDate">End Date</label>
      <input id="endDate" [(ngModel)]="newChallenge.endDate" name="endDate" type="date" required>
  
      <label for="minimumTradingDays">Minimum Trading Days</label>
      <input id="minimumTradingDays" [(ngModel)]="newChallenge.minimumTradingDays" name="minimumTradingDays" type="number" required>
  
      <label for="leverage">Leverage</label>
      <input id="leverage" [(ngModel)]="newChallenge.leverage" name="leverage" required>
  
      <label for="profitTarget">Profit Target</label>
      <input id="profitTarget" [(ngModel)]="newChallenge.profitTarget" name="profitTarget" required>
  
      <label for="maxLoss">Max Loss</label>
      <input id="maxLoss" [(ngModel)]="newChallenge.maxLoss" name="maxLoss" required>
  
      <label for="maxDailyLoss">Max Daily Loss</label>
      <input id="maxDailyLoss" [(ngModel)]="newChallenge.maxDailyLoss" name="maxDailyLoss" required>
  
      <label for="payoutExpress">Payout Express</label>
      <input id="payoutExpress" [(ngModel)]="newChallenge.payoutExpress" name="payoutExpress">
  
      <label for="profitBooster">Profit Booster</label>
      <input id="profitBooster" [(ngModel)]="newChallenge.profitBooster" name="profitBooster">
  
      <label for="tradeTheNews">Trade the News</label>
      <select id="tradeTheNews" [(ngModel)]="newChallenge.tradeTheNews" name="tradeTheNews">
        <option value="Available">Available</option>
        <option value="Unavailable">Unavailable</option>
      </select>
  
      <label for="weekendTrading">Weekend Trading</label>
      <select id="weekendTrading" [(ngModel)]="newChallenge.weekendTrading" name="weekendTrading">
        <option value="Available">Available</option>
        <option value="Unavailable">Unavailable</option>
      </select>
  
      <label for="eaEnabled">EA Enabled</label>
      <select id="eaEnabled" [(ngModel)]="newChallenge.eaEnabled" name="eaEnabled">
        <option value="Available">Available</option>
        <option value="Unavailable">Unavailable</option>
      </select>
  
      <label for="refundableFees">Refundable Fees</label>
      <input id="refundableFees" [(ngModel)]="newChallenge.refundableFees" name="refundableFees" required>
  
      <button type="createChallenge()">Create Challenge</button>
    </form>
  </div>-->
